SUPABASE_URL=https://gxvplnqghdfkykqpsdwt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4dnBsbnFnaGRma3lrcXBzZHd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NDAxNTYsImV4cCI6MjA5NzExNjE1Nn0.lNuGOjRO13VDNaRWhjSk8k_crrx3ephRGhuiZjyGdZY
